body {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-information{
    display: flex;
    flex-direction: column;
    
}

.information-container {
    display: flex;
    justify-content: space-between;
    gap:15px;
    flex-flow: wrap;
    margin-bottom: 80px;

}

.content-quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    padding-block: 200px;
}

.source {
    display: flex;
    justify-content: end;
}

.information-title {
    display: flex;
    justify-content: center;
    padding-block: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card .text {
    color:#1F2937;
    display:flex;
    justify-content: center;
    text-align: center;
}

 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

a,
.text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo,
.fheader {
    font-size: 24px;
    color:#f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 9px;
}

a {
    text-decoration: none;
}


.image {
    width:140px;
    height: 140px;
    border-radius: 8px;
    border:3px solid #3882f6;
}

.signup {
    border-radius: 8px;
    background-color: #3882f6;
    width: fit-content;
    border: 0;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 700;
    margin-top: 10px;
    padding-inline: 10px;
    padding-block: 7px;
}


.header-img {
    width: 800px;
    height: 250px;
    margin-left: 20px;
}

.header-menu,
.header-content,
.content-information,
.content-quote,
.content-footer {
    padding-left: 150px;
    padding-right: 150px;
}

.content-footer {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #3882f6;
    color: #e5e7eb;
    margin-inline: 150px;
    height: 100px;
    align-items: center;
    margin-block: 80px ;
    gap: 8px;
}

.fsignup {
    border-radius: 8px;
    border: 1px solid #e5e7eb;

}

.footer-text {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    height: 70px;
}